<div class="card">

    <div class="image"
         [style]="{ backgroundImage: 'url(' + (movie.poster ? movie.poster.previewUrl : '../assets/image/no_image.svg') + ')'}">
      <div class="rating" title="IMDb: {{ movie.rating?.imdb }}">
        {{ movie.rating?.kp }}
      </div>
      <div
        class="description"
        title="{{ movie.description ? movie.description : 'нет описания' }}"
      >{{ movie.name }}, {{ movie.year }}, {{ movie.type | movieType }}
        <p>{{ movie.description }}</p>
      </div>
    </div>

</div>
