* {
 box-sizing: border-box;
}
h1 {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.5rem;
}
.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
button {
  height: 74px;
  width: 74px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 92%;
  right: 1%;
}
