<div class="pagination">
  <button
    class="number_arrow-left"
    (click)="changePageArrowLeft()"
  >
    <img src="../../../assets/image/arrow.png" alt="arrow-left">
  </button>

  <button
    *ngFor="let numberPage of totalPages | fromNumberToArray"
    [class]="numberPage == page ? 'number_current' : 'number'"
    (click)="changeCurrentPage(numberPage)"
  >
      {{numberPage}}
  </button>
  <button
    class="number_arrow-right"
    (click)="changePageArrowRight()"
  >
    <img src="../../../assets/image/arrow.png" alt="arrow-right">
  </button>
</div>

