.pagination {
  margin: 1rem auto;
  max-width: 50%;
  height: 32px;
  display: flex;
  justify-content: center;
}
.number,
.number_current,
.number_arrow-left,
.number_arrow-right {
  margin: 0 4px;
  padding: 6px 12px !important;
  width: 32px;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number,
.number_arrow-left,
.number_arrow-right {
  &:hover {
    background-color: #65A3BEFF;
    color: white;
  }
  &_current {
    border: .5px solid #2F4A57FF;
    background-color: #65A3BEFF;
    color: white;
  }
  &_arrow-left {
    transform: rotate(180deg);
  }
}
