<app-movie-search
  (onSearchMode)="searchModeHandler($event)"
  (onMovieNameSearch)="movieNameSearchHandler($event)"
></app-movie-search>

<!--<app-movie-promo></app-movie-promo>-->

<div *ngIf="errorService.error$ | async as error">
  <p class="error">{{error}}</p>
  <h3>Обновите страницу...</h3>
</div>

<div *ngIf="!loader; else loading">
  <h2 class="title">{{ title }}</h2>

  <div *ngIf="!!totalPages">
    <app-movie-cards [movie]="movie"></app-movie-cards>
    <app-pagination
      [totalPagesNumber]="totalPages"
      [currentPage]="currentPageFromData"
      (onCurrentPage)="changeCurrentPageHandler($event)"
    ></app-pagination>
  </div>

</div>


<ng-template #loading>
  <h1 style="text-align: center">Загрузка...</h1>
</ng-template>

<div *ngIf="isSearchMode">
  <button class="btn-home" (click)="reloadPage()">На главную</button>
</div>
