<app-movie-promo
  (onTitle)="titleHandler($event)"
  (onMovie)="movieHandler($event)"
  (onLoader)="loaderHandler($event)"
  (onEmptyData)="dataHandler($event)"
  (onTotalPages)="totalPagesHandler($event)"
></app-movie-promo>
<app-movie-search
  (onSearchMode)="updateSearchMode($event)"
  (onTitle)="titleHandler($event)"
  (onMovie)="movieHandler($event)"
  (onLoader)="loaderHandler($event)"
  (onEmptyData)="dataHandler($event)"
  (onTotalPages)="totalPagesHandler($event)"
></app-movie-search>

<div *ngIf="!loader; else loading">
  <h2 class="title">{{ title }}</h2>

  <div *ngIf="!emptyData">
    <app-movie-cards
      [movie]="movie"
    ></app-movie-cards>

    <app-pagination [totalPages]="totalPagesHD"></app-pagination>

  </div>

</div>


<ng-template #loading>
  <h1 style="text-align: center">Загрузка...</h1>
</ng-template>

<div *ngIf="isSearchModeApp">
  <button class="btn-home" (click)="reloadPage()">На главную</button>
</div>
