.title {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.5rem;
}
.btn-home {
  height: 74px;
  width: 74px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  right: 1%;
}
.error {
  background-color: red;
  color: white;
}
